In [15]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
df1.shape

(103, 3)

# Adding Columns to Dataframe

In [17]:

df1.columns = ['Postal Code','Latitude','Longitude']
cols = df1.columns.tolist()
cols

['Postal Code', 'Latitude', 'Longitude']

In [19]:
#link = "https://github.com/ramakantpol44/Coursera_Capstone/blob/master/toronto.csv"
df = pd.read_csv('https://github.com/ramakantpol44/Coursera_Capstone/blob/master/toronto.csv')
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

# Merging 2 dataframes based on Postal Code

In [20]:
df_new = pd.merge(df, df1, on='Postal Code')
df_new.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [21]:
df_new.to_csv(r'df_final.csv')